<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/CSSstyle.css" type="text/css">
</head>
<body>
<div class="header">
    <a class="logo" title="Working Group"></a>
    <span class="sub-logo">主页面</span>
</div>
<div class="homepage">
    <span class="images-1">
        <img src="/images/20.jpg" height="200">
        <img src="/images/15.jpg" height="200">
        <img src="/images/16.jpg" height="200">
    </span>
    <span class="video">
        <video width="740" height="480" controls="controls">
            <source src="/images/video.Ogg" type="video/ogg" />
        </video>
    </span>
    <span class="images-2">
        <img src="/images/24.jpg" height="200">
        <img src="/images/30.jpg" height="200">
        <img src="/images/31.jpg" height="200">
    </span>
</div>

</body>
</html>