<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/Homestyle.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/CSSstyle.css" type="text/css">
</head>
<body>
<div class="header">
    <a class="logo" title="Working Group"></a>
    <span class="sub-logo">主页面</span>
</div>
<div class="homepage" style="width: 988px;padding: 0;" >
    <div class="v-warp" style="width: 988px;padding: 0px 66px;" >
        <div class="l-part" style="width: 660px">
            <div class="video-info report-wrap-module report-scroll-module" scrollshow="true">
                <h1 title="永远的七日之都 第七章剧情MV" class="video-title">
                    <span class="tit">永远的七日之都 第七章剧情MV</span>
                </h1>
                <div class="video-data">
                    <span>2019-08-13 18:00:25</span>
                </div>
                <div class="video-data">
                    <span title="总播放数184396" class="view">18.4万播放&nbsp;·&nbsp;</span>
                </div>
            </div>
            <div class="player-warp">
                <div class="video-player" style="width: 660px;height: 480px;position: static;">
                    <video style="width: 100%;height: 100%;" controls="controls">
                        <source src="/images/video.Ogg" type="video/ogg" />
                    </video>
                </div>
            </div>
        </div>
        <div class="r-part" >
            <div class="owner-info" style="width: 320px; height: 80px;">
                <div class="user-image">
                    <img src="/images/user_image.png" width="48" height="48">
                </div>
                <div class="user-info">
                    <div class="user-name">我在拉我</div>
                    <div class="user-sign">每天都有好心情！</div>
                </div>
            </div>
            <div class="recommend-list">
                <div class="recommend-title">相关推荐</div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/15.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第一个</div>
                            <div class="count">28.9万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/16.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第二个</div>
                            <div class="count">16.9万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/20.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第三个</div>
                            <div class="count">4.9万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/24.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第四个</div>
                            <div class="count">8.2万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/30.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第五个</div>
                            <div class="count">11.6万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/31.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第六个</div>
                            <div class="count">6.5万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/15.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第一个</div>
                            <div class="count">28.9万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/16.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第二个</div>
                            <div class="count">16.9万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/20.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第三个</div>
                            <div class="count">4.9万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/24.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第四个</div>
                            <div class="count">8.2万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/30.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第五个</div>
                            <div class="count">11.6万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="video-card-page">
                    <div class="card-box">
                        <div class="pic-box"><img src="/images/default.png" data-src="/images/31.jpg" style="width: 100%;height: 100%;"></div>
                        <div class="card-info">
                            <div class="title">推荐视频 第六个</div>
                            <div class="count">6.5万播放&nbsp;·&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="/javascripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript">
    start()
    $(window).on('scroll', function(){
        start()
    })
    function start(){
        //.not('[data-isLoaded]')选中已加载的图片不需要重新加载
        $('.pic-box img').not('[data-isLoaded]').each(function(){
            let $node = $(this)
            if( isShow($node) ){
                loadImg($node)
            }
        })
    }
    //判断一个元素是不是出现在窗口(视野)
    function isShow($node){
        return $node.offset().top <= $(window).height() + $(window).scrollTop()
    }
    //加载图片
    function loadImg($img){
        $img.attr('src', $img.attr('data-src')) //把data-src的值 赋值给src
        $img.attr('data-isLoaded', 1)//已加载的图片做标记
    }
</script>
</body>
</html>